<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="sessionFactory">
        <property name="configLocations" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <bean class="dao.Dao" id="dao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="serviceImpl.CartServiceImpl" id="cartService">
        <property name="dao" ref="dao"/>
    </bean>
    <bean class="serviceImpl.UserServiceImpl" id="userService">
        <property name="dao" ref="dao"/>
    </bean>
    <bean class="serviceImpl.FavoriteServiceImpl" id="favoriteService">
        <property name="dao" ref="dao"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="serviceImpl.ProductServiceImpl" id="productService">
        <property name="dao" ref="dao"/>
    </bean>
    <bean class="serviceImpl.CommentServiceImpl" id="commentService">
        <property name="dao" ref="dao"/>
    </bean>

    <bean class="action.CartAction" id="cartAction">
        <property name="cartService" ref="cartService"/>
        <property name="userService" ref="userService"/>
        <property name="productService" ref="productService"/>
    </bean>
    <bean class="action.FavoriteAction" id="favoriteAction">
        <property name="userService" ref="userService"/>
        <property name="favoriteService" ref="favoriteService"/>
    </bean>
    <bean class="action.ProductionAction" id="productAction">
        <property name="userService" ref="userService"/>
        <property name="commentService" ref="commentService"/>
        <property name="productService" ref="productService"/>
        <property name="favoriteService" ref="favoriteService"/>
    </bean>
    <bean class="serviceImpl.AddressServiceImpl" id="addressService">
        <property name="dao" ref="dao"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="action.AddressAction" id="addressAction">
        <property name="addressService" ref="addressService"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="action.UserInfoAction" id="userInfoAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="action.UserAction" id="userAction">
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="serviceImpl.OrderServiceImpl" id="orderService">
        <property name="orderDao" ref="orderDao"/>
        <property name="dao" ref="dao"/>
    </bean>
    <bean class="action.OrderAction" id="orderAction">
        <property name="orderService" ref="orderService"/>
        <property name="commentService" ref="commentService"/>
    </bean>
    <bean class="dao.OrderDao" id="orderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="interceptor.CheckProAdLoginInterceptor" id="checkProAdLoginInterceptor">
        <property name="userService" ref="userService"/>
    </bean>
    <bean class="interceptor.CheckOrdAdLoginInterceptor" id="checkOrdAdLoginInterceptor">
        <property name="userService" ref="userService"/>
    </bean>
</beans>